apiVersion: v2
dependencies:
- name: gloo-mesh
  repository: https://storage.googleapis.com/gloo-mesh/gloo-mesh
  version: 0.10.4
- name: gloo-mesh-ui
  repository: https://storage.googleapis.com/gloo-mesh-enterprise/gloo-mesh-ui
  version: 0.7.0
  condition: gloo-mesh-ui.enabled
- name: rbac-webhook
  repository: https://storage.googleapis.com/gloo-mesh-enterprise/rbac-webhook
  version: 0.1.11
  condition: rbac-webhook.enabled
- name: gloo-mesh-extender
  repository: https://storage.googleapis.com/gloo-mesh-enterprise/enterprise-extender
  version: 0.1.11
  condition: gloo-mesh-extender.enabled
description: Enterprise components for Gloo Mesh.
home: https://docs.solo.io/gloo-mesh/
name: gloo-mesh-enterprise
version: %version%
